<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp2">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.firebase.ml.vision.DEPENDENCIES"
        android:value="ocr" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fyp2">
        <activity android:name=".Activity.SettingActivity"></activity>
        <activity android:name=".Activity.SubjectDetailActivity" />
        <activity android:name=".Activity.studentEnroll" />
        <activity android:name=".Activity.EnrollNewSubject" />
        <activity android:name=".Activity.NotesOpen" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".NotesListActivity" />
        <activity android:name=".Activity.NotesActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>