<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fyp2">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <meta-data
        android:name="com.google.firebase.ml.vision.DEPENDENCIES"
        android:value="ocr" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fyp2">
        <activity android:name=".Activity.EmptyNotesCreate2"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Activity.ReadNotesActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.EmptyNotesCreate" android:screenOrientation="portrait" />
        <activity android:name=".Activity.AddReminder" android:screenOrientation="portrait" />
        <activity android:name=".Activity.PDFView" android:screenOrientation="portrait" />
        <activity android:name=".Activity.ViewSubjectPDFList"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.DetailsActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activity.MainSubjectActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SettingActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SubjectDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.studentEnroll" android:screenOrientation="portrait" />
        <activity android:name=".Activity.EnrollNewSubject" android:screenOrientation="portrait" />
        <activity android:name=".Activity.NotesOpen" android:screenOrientation="portrait" />
        <activity android:name=".Activity.ProfileActivity" android:screenOrientation="portrait" />
        <activity android:name=".NotesListActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activity.NotesActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.LoginActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" android:screenOrientation="portrait" />

        <meta-data
            android:name="com.applozic.application.key"
            android:value="1utar22828c7bc148e8d4fb812694420cb571b" />
        <meta-data
            android:name="com.applozic.mobicomkit.notification.smallIcon"
            android:resource="@drawable/jisoo" /> <!-- Replace this with a valid resource name for Launcher white Icon -->
        <meta-data
            android:name="main_folder_name"
            android:value="FYP2"
            tools:node="replace" /> <!-- If you do not set this tag then by default the attachment folder name would be Applozic. Thats why we are using replace node -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYB1vPc4cpn_FJv68eS_ZGe1UasBNwxLI" /> <!-- Replace with your geo api key from google developer console -->
        <!--
 For testing purpose use AIzaSyAYB1vPc4cpn_FJv68eS_ZGe1UasBNwxLI
        To disable the location sharing via map add this line ApplozicSetting.getInstance(context).disableLocationSharingViaMap(); in onSuccess of Applozic UserLoginTask
        -->
        <meta-data
            android:name="activity.open.on.notification"
            android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            tools:node="replace" /> <!-- NOTE : Do NOT change this value -->
        <meta-data
            android:name="com.package.name"
            android:value="${applicationId}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/ApplozicTheme"
            tools:node="replace">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
    </application>

</manifest>